@import url("https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap");

.App {
  text-align: center;
  /* border: red 3px solid; */
  height: 800px;
  position: relative;
  z-index: 5;
  background-color: white;
}

/* HEADER START */

.header {
  /* border: green 3px solid; */
  height: 110px;
  background-color: #000814;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

.header-title {
  font-family: "Crimson Text", serif;
  font-size: 4rem;
  color: white;
  /* padding: -30px; */
}
.header-title1 {
  position: relative;
  top: -15px;
  font-family: "Crimson Text", serif;
  font-size: 1rem;
  color: white;
  /* padding: -30px; */
}

.basket {
  position: absolute;
  right: 200px;
  top: 30px;
  flex-direction: row;
  width: 50px;
  height: 50px;
}

.basket-btn {
  color: white;
  background: none;
  border: none;
  position: absolute;
  width: 30px;
  height: 30px;
}

.basket-hover-button {
  background: none;
  border: none;
  color: rgb(45, 120, 201);
}

.circle {
  background-color: red;
  border-radius: 25px;
  z-index: 0;
}

.number1 {
  position: absolute;
  z-index: 10;
  color: white;
  font-size: 9px;
  left: 23px;
  top: -6px;
}

.navigation {
  top: -15px;
  text-align: center;
  position: relative;
}

.list {
  position: relative;
  /* top: -20px; */
  /* right: 4%; */
  list-style-type: none;
  display: flex;
  /* flex-flow: space-evenly; */
  flex-direction: row;
  justify-content: center;
  background-color: #001d3d;
  height: 90px;
  top: -15px;
}

.link {
  text-decoration: none;
}

.list-child {
  /* padding-right: 50px; */
  /* flex-grow: 3; */
  margin: 30px;
  font-family: "Crimson Text", serif;
  font-size: 1.3rem;
  color: white;
  transition: 0.5s;
}

.list-child:hover {
  color: #83a8df;
  transition: 1s;
}

.drop-down {
  display: none;
  /* position: absolute;
  top: 60px;
  left: -180px;
  border: none;
  width: 100px;
  height: 0px; */
}
.drop-down-yes {
  position: absolute;
  top: 60px;
  left: -180px;
  border: none;
  width: 100px;
  height: 0px;
}

.filter-p {
  position: absolute;
  top: 10px;
  left: 290px;
  color: #6c584c;
  font-family: "Crimson Text", serif;
  font-size: 1.3rem;
}

/* .drop-down-div {
}

.drop-down-style {
}

.drop-down-place-holder {
} */

/* HEADER ENDS */

.landing-page {
  height: 140px;
  background-color: #001d3d;
}
.landing-page1 {
  height: 140px;
  background-color: #003566;
}
.landing-page2 {
  height: 140px;
  background-color: #1361aa;
  /* background-color: #ffc300; */
}
.landing-page3 {
  height: 160px;
  background-color: #003566;
  /* background-color: #ffd60a; */
}
.landing-page4 {
  height: 200px;
  background-color: #001d3d;
  /* background-color: #ffda20; */
}
.landing-page5 {
  height: 200px;
  background-color: #03111f;
  /* background-color: #ffda20; */
}

.all-photos {
  /* border: yellow 3px solid; */
}

.contact-screen {
  /* border: purple 3px solid; */
}

/*  SLIDE CONTENT STARTS  */

.carousel-wrapper {
  top: 200px;
  position: absolute;
  width: 1000px;

  padding: 5px;
  margin-left: 190px;
  transition: 0.6s;
  background-color: white;
}

.carousel-wrapper:hover {
  /* opacity: 20%;
  transition: 0.6s; */
}

.pic-hover {
  font-family: "Crimson Text", serif;
  position: absolute;
  top: -20px;
  width: 900px;
  opacity: 0%;
  height: 666px;
  width: 1000px;
  padding-top: 300px;
  transition: 0.6s;
}

.pic-hover:hover {
  font-family: "Crimson Text", serif;
  font-weight: lighter;
  color: white;
  opacity: 100%;
  transition: 0.5s;
  background-color: black;
  opacity: 50%;
}

.thumbs-wrapper {
  display: none;
}

.carousel-status {
  display: none;
}
.control-dots {
  display: none;
}

/*  SLIDE CONTENT ENDS  */

/* FILTERED PHOTOS PAGE STARTS */
.filtered-photos-title {
  /* width: 100%; */
  height: 5000px;
  /* background-color: #ffda20; */
  margin-top: 75px;
}

.photo-frame {
  width: 1100px;
  border-radius: 10px;
}

.filtered-photo-box {
  background-color: #0077b6;
  /* margin: 100px; */
  margin-bottom: -550px;
  /* top: 120px; */
}

.filtered-desription {
  position: relative;
  width: 1103px;
  height: 135px;
  transition: 0.8s;
  top: -755px;
  left: 160px;
  padding-top: 300px;
  padding-bottom: 300px;
  opacity: 0%;
  border-radius: 10px;
}

.filtered-desription:hover {
  transition: 0.8s;
  color: white;
  background-color: black;
  opacity: 70%;
}

/* CONTACT PAGE BEGINS */
.contact {
  height: 800px;
  background-color: #4a94dd;
  /* opacity: 90%; */
  position: absolute;
  /* top: 3750px; */
  width: 100%;
  position: relative;
}

.box {
  position: relative;
  bottom: -30%;
  right: -25%;
  text-align: center;
  width: 50%;
  height: 40%;
  background-color: #042a50;
  border-radius: 10px;
  padding: 20px;
  padding-left: -30px;
}

.title4 {
  font-weight: lighter;
  color: #2a9d8f;
  font-size: 44px;
  position: absolute;
  top: 10px;
  right: 50px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  letter-spacing: 0.15em;
}

form {
  max-width: 600px;
  text-align: center;
}

#input-name {
  position: absolute;
  margin: 10px;
  height: 32px;
  border-radius: 10px;
  top: 29%;
  left: 15%;
  width: 30%;
}

#input-subject {
  margin: 10px;
  height: 32px;
  border-radius: 10px;
  position: absolute;
  top: 41%;
  left: 15%;
  width: 30%;
}

#input-email {
  margin: 10px;
  height: 32px;
  border-radius: 10px;
  position: absolute;
  top: 52%;
  left: 15%;
  width: 30%;
}

#input-message {
  border-radius: 10px;
  width: 200px;
  height: 115px;
  position: absolute;
  top: 116px;
  right: 25%;
  border-style: inset;
}

#input-submit {
  position: absolute;
  color: white;
  background: #0a6dd1;
  cursor: pointer;
  border-radius: 5px;
  height: 30px;
  width: 59%;
  right: 25%;
  top: 70%;
}

textarea {
  height: 126px;
}

.half {
  float: left;
  width: 48%;
  margin-bottom: 1em;
}

.right {
  width: 50%;
}

.left {
  margin-right: 2%;
}

/* CONTACT PAGE ENDS */

/*  FILTERED PHOTOS PAGE ENDS  */

/* FOOTER STARTS */
.footer {
  height: 30px;
  /* border: black solid 3px; */
  position: fixed;
  bottom: 0;
  /* z-index: 30; */

  background-color: #000712;
  width: 100%;
}

.number {
  top: 50%;
  font-family: "Crimson Text", serif;
  font-size: 1.5rem;
  color: white;
  transition: 1s;
}

.number:hover {
  color: #83a8df;
  transition: 1s;
}

/* FOOTER ENDS */

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
} */

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */
